# --- Frontend (Angular) ---
**/node_modules/
**/.angular/
**/dist/
.editorconfig
.browserslistrc

# --- Backend (PHP) ---
**/vendor/
.env
*.log

# --- Base de Datos ---
# No ignoramos los .sql de estructura, pero sí respaldos pesados si 
# los hubiera
*.bak
*.sql.gz

# --- IDE y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db